*

!services/api/go.mod
!services/api/go.sum
!services/api/*.go
!services/api/cmd/
!services/api/cmd/**/*.go
!services/api/internal/
!services/api/internal/**/*.go
!services/api/internal/**/*.sql

!services/scheduler/go.mod
!services/scheduler/go.sum
!services/scheduler/*.go
!services/scheduler/cmd/
!services/scheduler/cmd/**/*.go
!services/scheduler/internal/
!services/scheduler/internal/**/*.go
